# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/url_to_intro/gzhUrl_sh_1015_2.log
/url_to_intro/gzhUrl_sh_1015_3.log
/url_to_intro/gzhUrl_sh_1015_1.log
/url_to_intro/public.log
/url_to_intro/gzhUrl_bj_1015_1.log
/url_to_intro/public_num.log
/url_to_intro/gzhUrl_bj_1015_2.log
/url_to_intro/gzhUrl_bj_1015_3.log
/url_to_intro/gzhUrl_bj_1015_4.log
/url_to_intro/weixin_quchong_all.log
/url_to_intro/weixin_url_all.log
